            .g1{
				padding-top:29px;
			}
			.g2{
				padding-top:40px;
				margin-left:-240px;
			}
			.g3{
				padding-top:29px;
			}
			.one {
				margin-top: 1px;
			}
			.two {
				border-radius: 5px;
				background-color: #18283F;
			}
			.h0{
				color:white;
				width:202px;
				padding:14px;
				text-align:center;
				text-decoration:none;
				font-size:15px;
				cursor:pointer;
			}
			.d1{
				background-color: #18283F;
				width:200px;
				text-align: center;
				font-size: 17px;
				border-color: white; 
			}
			.l1{
				color:white;
			}
			.l1:hover{
				color:white;
			}
			.he1{
				color: white;
				width:151px;
				padding:15px;
				cursor:pointer;
			}
			.he2{
				color: white;
				width:130px;
				padding:15px;
				cursor:pointer; 
			}
			.he3{
				color: white;
				width:68px;
				padding:15px;
				cursor:pointer; 
			}
			.he4{
				color: white;
				width:86px;
				padding:15px;
				cursor:pointer; 
			}
			.he5{
				color: white;
				width:140px;
				padding:15px;
				cursor:pointer; 
			}
			.he1:hover,.he2:hover,.he3:hover,.he4:hover,.he5:hover {
				background-color: white;
				color: #18283F;
			}
			.li1{
				border-style:solid;
			
				border-width:1px;
				color:grey;
			}
			.li2{
				margin-top:-14px;
				font-size: 24px;
				
			}
			.li3{
				border-style:solid;
				
			
				border-width:1px;
				color:grey; 
			}
			
			.desc1,.desc2,.desc3,.desc4,.desc5,.desc6{
				text-align:center;
				margin-top:10px;
				color:grey;
				cursor:pointer;
			}
			.lis1{
				border-style:solid;
				margin-left:285px;
				margin-right: 710px;
				border-width:1px;
				color:grey;
			}
			.lis2{
				margin-left: 490px;
				font-size: 24px;
				margin-top:-15px;
			}
			.lis3{
				border-style:solid;
				margin-left:735px;
				margin-right: 235px;
				margin-top: -20px;
				border-width:1px;
				color:grey; 
			}
			.bo2{
				padding:17px;
				margin-top:40px;
			}
			.de1,.de2,.de3,.de4{
				text-align:center;
				color:#880033;
				cursor:pointer;
				margin-top:10px;
			}
			
			.lis5{
				font-size: 24px;
				margin-top:-15px;
			}
			
			.on{
				color:#B61671;
			}
			.t1{
				text-align:center;
				color:#880033;
			}
			.t2{
				text-align:center;
			}
			.r1{
				text-align:center;
			}
			.t3{
				border-style:solid;
				border-width:1px;
				border-radius:5px;
				padding-top:10px;
				color:grey;
			}
			.b1{
				background-color:#18283F;
				color:white;
			}
			.b1:hover{
				background-color:#18283F;
				color:white;
			}
			.p1{
				border-style:hidden;
			}
			.p1:hover{
				box-shadow:3px 3px grey;
				color:black;
				cursor:pointer;
			}
			.c1,.c1:hover{
				border-style:solid;
				color:grey;
				border-width:1px;
				border-radius:6px;
			}
			.lis7{
				border-style:solid;
				margin-left:285px;
				margin-right: 770px;
				border-width:1px;
				color:grey;
			}
			.lis8{
				margin-left: 490px;
				font-size: 24px;
				margin-top:-15px;
			}
			.lis9{
				border-style:solid;
				margin-left:750px;
				margin-right: 235px;
				margin-top: -20px;
				border-width:1px;
				color:grey; 
			}
			.bo4{
				padding:17px;
				margin-top:40px;
			}
			.lis10{
				border-style:solid;
				margin-left:310px;
				margin-right: 770px;
				border-width:1px;
				color:grey;
			}
			.lis11{
				margin-left: 510px;
				font-size: 24px;
				margin-top:-15px;
			}
			.lis12{
				border-style:solid;
				margin-left:750px;
				margin-right: 235px;
				margin-top: -20px;
				border-width:1px;
				color:grey; 
			}
			.bo5{
				padding:17px;
				margin-top:40px;
			}
			.bo6{
				border-width:1px;
				border-radius:4px;
				border:color:#F3F3F3;
				background-color:#F3F3F3;
			}
			.s1{
				line-height:1.7;
				color:#858585;
			}
			.bo8{
				border-style:solid hidden solid hidden;
				height:45px;
				border-width:1px;
			}
			.pa1{
				padding-top:12px;
				font-size:17px;
				color:#858585;
			}
			.e1{
				margin-left:800px;
				margin-top:-28px;
			}
			.e2{
				margin-left:910px;
				margin-top:-28px;
			}
			.k1{
				line-height:1.7;
			}